<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" href="/stylesheets/all.min.css">

  <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/stylesheets/responsive.bootstrap4.min.css">

  <link rel="stylesheet" href="/stylesheets/buttons.bootstrap4.min.css">

  <link rel="stylesheet" href="/stylesheets/adminlte.min.css?v=3.2.0">

  <link rel="stylesheet" href="/stylesheets/table.css">

  <link rel="stylesheet" href="/stylesheets/practice.css">

  <script
    nonce="61880a7f-af65-4d97-802f-e945f30adde2">(function (w, d) { !function (a, e, t, r, z) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zarazData.tracks = [], a.zaraz = { deferred: [] }; var s = e.getElementsByTagName("title")[0]; s && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.dataLayer = a.dataLayer || [], a.zaraz.track = (e, t) => { for (key in a.zarazData.tracks.push(e), t) a.zarazData["z_" + key] = t[key] }, a.zaraz._preSet = [], a.zaraz.set = (e, t, r) => { a.zarazData["z_" + e] = t, a.zaraz._preSet.push([e, t, r]) }, a.dataLayer.push({ "zaraz.start": (new Date).getTime() }), a.addEventListener("DOMContentLoaded", (() => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r); z.defer = !0, z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) })) }(w, d, 0, "script"); })(window, document);</script>
</head>

<body class="hold-transition sidebar-mini">
    

      <!--
      <form method="post" action="/add" class="customer" style="background-color: green;">>
        <button type="submit" style="margin-left:20px; " class="btn btn-primary">Home</button>
      </form>    
    -->
    <%- include('./partials/nav.ejs')%>
    <%- include('./partials/displaybook.ejs')%>
    <tbody>

                      <% for(i=0;i<empar.length;i++){ %>
                        <tr class="odd">
                          <td>
                            <%=empar[i].ltitle%>
                          </td>

                          <td>
                            <%=empar[i].lauthor%>
                          </td>

                          <td>
                            <%=empar[i].lpub%>
                          </td>


                        </tr>
                        <%}%>


                    </tbody>

                  </table>
                  
                </div>

                
                  
                
            </div>

          </div>

        </div>

      </section>

    </div>


    <aside class="control-sidebar control-sidebar-dark">

    </aside>

  </div>


  
</body>

</html>